.container{
    width: 640px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #262626;
    gap: 20px;
    padding: 30px 40px ;
    background: white;
    

}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #686866;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;

}
.container button{
margin: auto;
width: 250px;
height: 65px;
background: #553f9a;
color: #fff;
font-size: 25px;
font-weight: 500;
border-radius: 8px;
cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #FFFBEB;
    border-color: #FF4A4A;
}
